<header class="text-center">
  <a href="javascript:">
    <div class="px-2 m-0" id="hamburger" onclick="toggleMenu()">☰</div>
  </a>
  <div id="city-container">
    <a href="/">
      <div id="frankie-city">
      </div>
      <div id="city">
        <!-- Transparent div for hover -->
        <div id="frankie-hover-target"></div>
      </div>
    </a>
  </div>
  <a href="/">
    <h1>SETH & SYDNEY</h1>
    <h2>Saturday, July 27th, 2024</h2>
    <h3>Williamsburg, Brooklyn</h3>
  </a>
</header>
