  <header class="text-center">
    <a href="javascript:">
      <div class="px-2 m-0" id="hamburger" onclick="toggleMenu()">☰</div>
    </a>
      <div class="pb-3" style="padding-top: 9vw">
        <a href="/">
          <img src="/static/images/city.png" class="img-fluid" style="width: 40vw;" alt="City"/>
        </a>
      </div>
    <a href="/">
      <h1>SETH & SYDNEY</h1>
      <h2>Saturday, July 27th, 2024</h2>
      <h3>Williamsburg, Brooklyn</h3>
    </a>
  </header>
