 <nav id="mobileMenu">
    <ul>
      <li>
        <button class="px-3" id="closeMenu" onClick="toggleMenu()">✕</button>
      </li>
      <li><a href="/hotel">
        <div>Hotel</div>
      </a></li>
      <li><a href="/events">
        <div>Events</div>
      </a></li>
      <li><a href="/registry">
        <div>Registry</div>
      </a></li>
      <li><a href="/rsvp">
        <div>RSVP</div>
      </a></li>
      <li><a href="/faq">
        <div>FAQ</div>
      </a></li>
    </ul>
  </nav>

  <nav>
    <div class="justify-content-evenly pt-4" id="menuItems">
      <a href="/hotel">Hotel</a>
      <a href="/events">Events</a>
      <a href="/rsvp">RSVP</a>
      <a href="/faq">FAQ</a>
      <a href="/registry">Registry</a>
    </div>
  </nav>
