{% extends 'base.jinja2' %}

{% block content %}
    <section class="inner-main text-center">
      <h4>Events</h4>
      <h5>Rehearsal Dinner</h5>
      <p>(Wedding party only)</p>
      <p>Friday, July 26th, 2024 (Time TBD)</p>
      <p>MyMoon Restaurant</p>
      <p>184 N 10th St, Brooklyn, NY 11211</p>
      <p><a href="https://www.google.com/maps/dir//184+N+10th+St,+Brooklyn,+NY+11211/@40.7188113,-74.0375768,12z">Directions</a></p>

      <h5>Ceremony</h5>
      <p>Saturday, July 27th, 2024 6pm</p>
      <p>Giando on the Water</p>
      <p>400 Kent Avenue, Brooklyn, NY 11249</p>
      <p>Reception to follow</p>
      <p><a href="https://www.google.com/maps/dir//400+Kent+Avenue,+Brooklyn,+NY+11249/@40.711978,-73.966688,12z">Directions</a></p>

      <h5>Bagel Brunch</h5>
      <p>Sunday, July 28th, 2024 (Time TBD)</p>
      <p>101 Bedford Ave, Brooklyn, NY 11211</p>
      <p><a href="https://www.google.com/maps/dir//101+Bedford+Ave,+Brooklyn,+NY+11211/@40.7188113,-74.0375768,12z">Directions</a></p>
    </section>
{% endblock %}
