{% extends 'base.jinja2' %}

{% block content %}
    <section class="inner-main">
      <div class="text-center">
        <h4>FAQ</h4>
      </div>
{#      <h5>What is the dress code?</h5>#}
{#      <p>Black tie optional. The men in the wedding party will be wearing tuxedos. Women will be wearing dresses crafted#}
{#        from the most extravagant eastern silks. Hats must include rare bird feathers. The ceremony will be outdoors and#}
{#        guests will be facing the hot July sun which will be low in the sky. We recommend bringing sunglasses. The#}
{#        cocktail hour and reception#}
{#        are air-conditioned. Feel free to dress sluttily, but don't overdo it. No jeans.</p>#}
      <h5>What airport should I fly into?</h5>
      <p>In order of descending convenience: LGA, JFK, EWR.</p>
      <h5>What time should I arrive?</h5>
      <p>The ceremony begins at 5:30pm. Please arrive at least 15 minutes early to allow time for parking and
        seating.</p>
      <h5>Is the venue accessible by public transportation?</h5>
      <p>It is a 12 minute walk from the Marcy stop of the J, Z, and M trains.</p>
      <h5>Is there parking?</h5>
      <p>Plenty of valet parking is available at the venue.</p>
      <h5>Can I bring a plus one?</h5>
      <p>If your invitation is addressed to you and a guest, you may bring a plus one. If your invitation is addressed
        to
        you only, please do not bring a guest.
      <h5>Is it kid friendly?</h5>
      <p>Children are welcome at the ceremony and reception, if you would like to bring them.</p>
      <h5>Will my dietary restrictions be accommodated?</h5>
      <p>The venue is able to accommodate most dietary restrictions. There will be vegetarian and vegan options.</p>
      <h5>Is it open bar?</h5>
      <p>Yes, there will be an open bar with a selection of beer, wine, and liquor.</p>
    </section>
{% endblock %}
