{% extends 'base.jinja2' %}

{% block content %}
    <section class="inner-main text-center">
      <p>Welcome to our wedding website! We're glad that you're here.</p>
      <p><a href="/rsvp">RSVP</a> for an unforgettable NYC weekend.</p>
      <p class="mt-3">Seth and Sydney have been married for <span id="countdown"></span>!</p>
{#      <p class="mt-3">💛 Seth &amp; Sydney</p>#}
      <br/>
      <p class="mt-5"><small>(Seth coded this site from scratch so next time you see him please pretend to be impressed)</small></p>
    </section>
    <script>
      function timeUntil() {
        let ceremony_time = new Date("2024-07-27T18:00:00-04:00");
        let now = new Date();
        let delta = Math.abs(ceremony_time - now) / 1000;
        let days = Math.floor(delta / 86400);
        delta -= days * 86400;
        let hours = Math.floor(delta / 3600) % 24;
        delta -= hours * 3600;
        let minutes = Math.floor(delta / 60) % 60;
        delta -= minutes * 60;
        let seconds = delta % 60;
        return_str = Math.floor(seconds).toString() + ' seconds';
        if (minutes > 0) {
          return_str = minutes + ' minutes, and ' + return_str;
        }
        if (hours > 0) {
          return_str = hours + ' hours, ' + return_str;
        }
        if (days > 0) {
          return_str = days + ' days, ' + return_str;
        }
        return return_str;
      }

      function refreshTime() {
        let checkin = document.getElementById('countdown');
        checkin.innerHTML = timeUntil();
      }
      refreshTime();
      setInterval(refreshTime, 25);
    </script>
{% endblock %}
