{% extends 'base.jinja2' %}

{% block content %}
    <section class="inner-main text-center">
      <p>Welcome to our wedding website! We're so grateful that you're here.</p>
      <p>Smash that "RSVP" button for an unforgettable NYC weekend.</p>

      <p class="mt-3">We can't wait to see you!</p>
      <p class="mt-3">–Seth &amp; Sydney</p>
      <br/>
      <p class="mt-5"><small>(Seth coded this site from scratch so next time you see him please pretend to be impressed)</small></p>
    </section>
{% endblock %}
