{% extends 'base.jinja2' %}

{% block content %}
    <div class="inner-main text-center">
      <h4>Hotel</h4>
      <h5>Arlo Williamsburg</h5>
      <p>98 Wythe Ave, Brooklyn, NY 11249</p>
      <p>Use <a href="https://be.synxis.com/?adult=1&arrive=2024-07-26&chain=19470&child=0&currency=USD&depart=2024-07-28&dest=NYC&hotel=41850&level=chain&locale=en-US&promo=LOVERS&rooms=1">this link</a> to book for 20% off
        the listed rates.</p>
      <p><a href="https://www.google.com/maps/dir//96+Wythe+Ave,+Brooklyn,+NY+11249/@40.7214752,-74.0411025,12z/">Click here for directions
        to the hotel</a></p>
    </div>
{% endblock %}
