{% extends 'base.jinja2' %}

{% block content %}
    <section class="inner-main text-center">
      <h4>Registry</h4>
      <p><a href="https://withjoy.com/sydney-and-seth-eclvepnmpb000o01tf77svefyfs/registry">Click here!</a></p>
    </section>
{% endblock %}
