{% extends 'base.jinja2' %}

{% block content %}
    <section class="inner-main text-center">
      <div class="d-flex justify-content-center align-items-center">
        <div>
          <h4>RSVP</h4>
          <p class="mt-4">Thank you for responding!</p>
          {% if is_coming %}
            <p class="mt-4">We look forward to seeing you at the wedding!</p>
          {% else %}
            <p class="mt-4">We're sorry you aren't able to make it, but we hope to see you soon!</p>
            <div class="mt-4">
              <img src="/static/images/not-coming.jpg" alt="Sad face" style="background-size: cover; width: 100%;"/>
            </div>
          {% endif %}
        </div>
      </div>
    </section>
{% endblock %}
